<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Best medical colleges in Asia. Apply now to grab a seat">
    <title>Colleges in Asia</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="/images/logo2.png">

 <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <style>
    
        *{
            margin: 0;
            padding: 0;
        }
.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative;
}
.timeline__content-title {
  font-weight: normal;
  font-size: 50px;
  margin: -10px 0 0 0;
  transition: 0.4s;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  color: black;

}
.timeline__content-desc {
  margin: 0;
  font-size: 20px;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  font-color: white;
  line-height: 25px;
  text-align: justify;
}
.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, .07);
}
@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 40px;
  }
}
.timeline-item {
  padding: 40px 0;
  opacity: 0.3;
  filter: blur(2px);
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
}
.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, .5);
  font-size: 13px;
  font-family: 'Pathway Gothic One', sans-serif;
  border-left: 2px solid rgba(255, 255, 255, .5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
}
.timeline-item:nth-child(even) {
  align-self: flex-end;
}
.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, .5);
  padding-right: 15px;
}
.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}
.timeline-item--active:before {
  top: 50%;
  transition: 0.3s all 0.2s;
  opacity: 1;
}
.timeline-item--active .timeline__content-title {
  margin: -50px 0 20px 0;
}
@media only screen and (max-width: 767px) {
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}
.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
}
.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: 0.3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}
.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
 background: rgba(0,0,0,0.6);
  content: "";
}
.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.timeline-header__title {
  color: #fff;
  font-size: 58px;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  margin: 0;
}
.timeline-header__subtitle {
  color: rgba(255, 255, 255, .5);
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}
.demo-footer {
  padding: 60px 0;
  text-align: center;
}
.demo-footer a {
  color: #999;
  display: inline-block;
  font-family: Cardo;
}

    </style>
</head>
<body>
     <div class="timeline-container" id="timeline-1">
  <div class="timeline-header">
    <h2 class="timeline-header__title">ASIAN STATE MEDICAL UNIVERSITY</h2>
    <h3 class="timeline-header__subtitle">VIEW DETAILS</h3>
  </div>
  <div class="timeline">
    <div class="timeline-item" data-text="FEATURES">
      <div class="timeline__content"><img class="timeline__img" 
        src="./assets/img/asian/asian1.jpg" />
        <!--<h2 class="timeline__content-title">
          
        </h2>-->
        <p class="timeline__content-desc"><font color="white">Asian state medical university is recognized by the Ministry of Education & Ministry of Health. It is also recognized by WHO and listed in the World Directory of Medical Schools.</font></p>
      </div>
    </div>
    <div class="timeline-item" data-text="FACILITIES">
      <div class="timeline__content"><img class="timeline__img" src="./assets/img/asian/asian2.jpg"/>
        <h2 class="timeline__content-title">.</h2>
        <p class="timeline__content-desc"><font color="white">As per Medical Council of India, the minimum qualification for Indian Students to study in abroad is 50% in physics, chemistry and biology in 12th standard.The student also has to Qualify NEET.</font></p>
      </div>
    </div>
    <div class="timeline-item" data-text="INFRASTRUCTURE">
      <div class="timeline__content"><img class="timeline__img" src="./assets/img/asian/asian3.jpg"/>
        <h2 class="timeline__content-title">.</h2>
        <p class="timeline__content-desc"><font color="white">   Various doctors from Europe, UK & USA visit the campus to impart new technological advances in the field of medicine to our students. Multiple councils of medicine from the countries of India, Pakistan, Nepal, USA, Great Britain recognize the degree awarded by the Asian Medical Institute.</font></p>
      </div>
    </div>
    <div class="timeline-item" data-text="">
      <div class="timeline__content"><img class="timeline__img" src="./assets/img/asian/asian4.jpg"/>
        <h2 class="timeline__content-title">.</h2>
        <p class="timeline__content-desc"><font color="white">Spacious hostels with all the facilities like boarding, fooding, security is available for girls and boys separately, right adjacent to the college premises. Good transport facility has been arranged by the authorities to take the students from hostels to the affiliated hospitals in the city . The atmosphere in the hostile is conducive for studies, calm and quiet.</font></p>
      </div>
    </div>
     <div class="timeline-item" data-text="">
      <div class="timeline__content"><img class="timeline__img" src="./assets/img/asian/asian5.png"/>
        <h2 class="timeline__content-title">.</h2>
        <p class="timeline__content-desc"><font color="white"> The majority of clinical departments are located on the grounds of the regional and city medical establishments and they are equipped with modern diagnostic and medical facilities.</font></p>
      </div>
    </div>
     <div class="timeline-item" data-text="">
      <div class="timeline__content">
        <img class="timeline__img" src="./assets/img/asian/asian7.jpg"/>
        <h2 class="timeline__content-title">.</h2>
        <p class="timeline__content-desc"><font color="white"> The total tution fee would approximate to $18800 for a period of five years.The faculty members are well-versed in English language. Each member holds a degree in Medicine and is either a M.D. or Ph.D. holder. Few members of the faculty are also specialist in their field.</font></p>
      </div>
    </div>
    <div class="timeline-item" data-text="">
      <div class="timeline__content"><img class="timeline__img" src="./assets/img/spotlight.jpg"/>
        <h2 class="timeline__content-title"><font color="white"><i class="fa fa-video-camera" aria-hidden="true"></i></font></h2>
        <p class="timeline__content-desc">
          <p><font color="white">WATCH CAMPUS TOUR</font> </p> <br>
            <iframe width="450" height="300" src="https://www.youtube.com/embed/C_fU236vnRQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
   
    <div class="timeline-item" data-text="VIEW LOCATION">
      <div class="timeline__content"><img class="timeline__img" src="./assets/img/world.jpg"/>
        <h2 class="timeline__content-title"><font color="white"><i class="fa fa-map-marker" aria-hidden="true"></i></font></h2>
        <p class="timeline__content-desc">
          
                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d93568.22845073708!2d74.65799949009262!3d42.87269346357838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eaf1821265933%3A0xab1772d43367a1a9!2sAsian%20medical%20institute.%20kyrgyzstan.!5e0!3m2!1sen!2sin!4v1589086329450!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>


        </p>
      </div>
    </div>

  

    <!--<div class="timeline-item" data-text="NEW TIMELINE DESIGN">
      <div class="timeline__content"><img class="timeline__img" src="kk.jpg"/>
        <h2 class="timeline__content-title">9</h2>
        <p class="timeline__content-desc">At the end of August 1922, the Turkish armieswon their ultimate victory. Within a few weeks, the Turkish mainland was completelyliberated, the armistice signed, and the rule of the Ottoman dynasty abolished</p>
      </div>
    </div>-->
  
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
 <script>
    
    (function($) {
  $.fn.timeline = function() {
    var selectors = {
      id: $(this),
      item: $(this).find(".timeline-item"),
      activeClass: "timeline-item--active",
      img: ".timeline__img"
    };
    selectors.item.eq(0).addClass(selectors.activeClass);
    selectors.id.css(
      "background-image",
      "url(" +
        selectors.item
          .first()
          .find(selectors.img)
          .attr("src") +
        ")"
    );
    var itemLength = selectors.item.length;
    $(window).scroll(function() {
      var max, min;
      var pos = $(this).scrollTop();
      selectors.item.each(function(i) {
        min = $(this).offset().top;
        max = $(this).height() + $(this).offset().top;
        var that = $(this);
        if (i == itemLength - 2 && pos > min + $(this).height() / 2) {
          selectors.item.removeClass(selectors.activeClass);
          selectors.id.css(
            "background-image",
            "url(" +
              selectors.item
                .last()
                .find(selectors.img)
                .attr("src") +
              ")"
          );
          selectors.item.last().addClass(selectors.activeClass);
        } else if (pos <= max - 40 && pos >= min) {
          selectors.id.css(
            "background-image",
            "url(" +
              $(this)
                .find(selectors.img)
                .attr("src") +
              ")"
          );
          selectors.item.removeClass(selectors.activeClass);
          $(this).addClass(selectors.activeClass);
        }
      });
    });
  };
})(jQuery);

$("#timeline-1").timeline();

    </script>
</body>
</html>