<html>
<head>
	<title> FAQ </title>


	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="stylecol.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="icon" type="image/png" href="/images/logo2.png">

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;600&display=swap" rel="stylesheet">
	<style>

		*{
			margin: 0;
			padding: 0;
		}

		h1{
			text-align: center;
			margin : 50px 0 !important;
			font-family: sans-serif;
		}

		.panel-body{
			
			background-color: #d1c4e9;
			padding-right:10px;
			font-size: 17px;
			font-family: 'Source Sans Pro', sans-serif;
		}
		.panel-heading{
			
			background-color: #cfd8dc;
			font-size: 30px;
			font-family: 'Source Sans Pro', sans-serif;
		}
		
		 #hello{
			    padding: 25px;
			    background: url('../assets/img/faq.png') no-repeat;
			    background-position: absolute;
				background-size: cover;
    			}
	</style>
</head>
<!-- <header>
	<div class="container">
	  <div id="branding">
		<h3><span class="highlight">Elite</span> Doctors Consultancy</h3>
	  </div>
	  <nav>
		<ul>
		  <li ><a href="/">Home</a></li>
		  <li><a href="/blog" target="_blank">Blog</a></li>
		  <li><a href="/#contact">Contact Us</a></li>
		  <li class="current"><a href="/faq">FAQ</a></li>
		  <li ><a href="/applynow" method="GET">Apply now</a></li>
		 
		</ul>
	  </nav>
	</div>
  </header> -->
  
	<a href="/"><style> a{ color:#32078c;
	}</style><h4><b>Return Home</b></h4></a>
<body id="hello">
	<br><br><br>
	
	<div class="container" >
		  
		<div class="col-md-6">		
				<div class="row">
					  <div class="panel-group" id="accordion">
					    <div class="panel panel-default">
					      <div class="panel-heading">
					        <h4 class="panel-title">
					          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><b>HOW TO APPLY ? </b></a>
					        </h4>
					      </div>
					      <div id="collapse1" class="panel-collapse collapse in">
					        <div class="panel-body">
						
								Submit the following Documents to our
										Consultant Office directly or through email:
										<br>
									1)Submit the color scanned copy of your
										Passport.<br>
									2)Submit your Higher Secondary Passed
										Marksheet (12th Marksheet) scanned copy.<br>
									3)Submit your recently taken Scanned
										Passport Size photo with white background.<br>
									4)Submit your NEET result Copy.<br>
							
								
							</div>
					      </div>
					    </div>
					    <div class="panel panel-default">
					      <div class="panel-heading">
					        <h4 class="panel-title">
					          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><b> HOW TO AVAIL PERSONALISED SERVICES ?</b></a>
					        </h4>
					      </div>
					      <div id="collapse2" class="panel-collapse collapse">
					        <div class="panel-body">
								A complete session on pre-departure is
								conducted to provide the students with ins and outs of the
								respective country and travelling guidelines. We enable you to
								establish contact with other students studying in respective
								countries.</div>
					      </div>
						</div>
						
						<div class="panel panel-default">
							<div class="panel-heading">  
							  <h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><b>EMPHASIS ON INFORMATION</b></a>
							  </h4>
							</div>
							<div id="collapse3" class="panel-collapse collapse">
							  <div class="panel-body">We are best at helping the students with the best courses and universities which are best fitted to their career and which hold the potential
								of fulfilling their dreams.
								We provide the best medical admission guidance services and believe in a personalized approach to the medical aspirants. Our transparent
								work policies and good services make us top in the field of medical admission guidance sector.
								It's time to follow your dreams,We will assist you in shaping yourself for a brighter future.
								</div>
							</div>
						  </div>

						  <div class="panel panel-default">
							<div class="panel-heading">
							  <h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><b>KNOW OUR CREDENTIALS </b></a>
							  </h4>
							</div>
							<div id="collapse4" class="panel-collapse collapse">
							  <div class="panel-body">
								  Direct Admission to Universities.
								- Low Fee Structure.
								- Most Trusted and Authentic
								Passage to get admissions.
								- 100+ students has been enrolled
								by us every year.</div>
							</div>
						  </div>

						  <div class="panel panel-default">
							<div class="panel-heading">
							  <h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse5"><b>HOW TO GET ASSISTED WITH TRAVEL AGENCY ?</b></a>
							  </h4>
							</div>
							<div id="collapse5" class="panel-collapse collapse">
							  <div class="panel-body">
								Our agent will fly with you and we provide you with
								the best possible options for travel. We help you identify the right airline
								for excess baggage schemes. Our travelling agent helps you in your entire
								course-peroid in travelling. We also arrange travel for parents and
								relatives of the student when required.
							  </div>
							</div>
						  </div>

						  
						  <div class="panel panel-default">
							<div class="panel-heading">
							  <h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse6"><b> EXPERIENCED COUNSELORS ASSISTANCE </b></a>
							  </h4>
							</div>
							<div id="collapse6" class="panel-collapse collapse">
							  <div class="panel-body">
								Quality and success of our endeavor is mainly entrusted
								 on our experienced and expert counselors.
								 We are fortunate to have committed and reliable counselors who
								  are intelligent enough to know the needs of applicants and 
								  approachable to any individual.
								   We assure the support of our counselor who keeps the record of the applicant, 
								   to remind and monitor the process of related files.
							  </div>
							</div>
						  </div>

						  
						  <div class="panel panel-default">
							<div class="panel-heading">
							  <h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse7"><b> FURTHER MORE QUERIES !</b></a>
							  </h4>
							</div>
							<div id="collapse7" class="panel-collapse collapse">
							  <div class="panel-body">
								Contact us via <br>
								Email- elitedoctorsconsultancy01@gmail<br>
								Phone no- +91 98422 04993<br>
							  </div>
							</div>
						  </div>
						  
					  
					  </div> 
					</div>

					
			</div>
		</div>

		<dialog>
			<form method="dialog" >
			<input type="text" type="text">
		</form>
		</dialog>		


</body>
</html>
