<html>
<head>
	<title> NEW POST </title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/images/logo2.png">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body id="hello">




	 <nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href='/'><font color="white">ELITEBLOG</font></a>
    </div>
    <ul class="nav navbar-nav">
   
    </ul>
  </nav>

  <div class="container">
    <div class="container">
      <div class="jumbotron">
           <h1 class="display-4"> title </h1>  
              <hr> 
                <p> content </p>
                <p> <b> REFERENCES :</b>  </p>
    
                 <hr class="my-2">
                 <p>  POSTED ON <b>  </b></p>
                 <a href=" "><i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>  </a> &nbsp; 
                 &nbsp;
                 <a href=" "> <i class="fa fa-trash fa-2x" aria-hidden="true"></i> </a>
          </div>
          <div class="jumbotron">
            <h1 class="display-4"> title </h1>  
               <hr> 
                 <p> aabcvderfghijklmnopqrstuvwxyz </p>
                 <p> <b> REFERENCES :</b>  </p>
     
                  <hr class="my-2">
                  <p>  POSTED ON <b>  </b></p> <br>
               <a href=" "><i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>  </a> &nbsp; 
               &nbsp;
               <a href=" "> <i class="fa fa-trash fa-2x" aria-hidden="true"></i> </a>
           </div>
   
  </div>
  </div>


</body>

<style>
    #hello{
      padding :10px;
    background: url("https://wallpapersite.com/images/pages/pic_w/9577.jpg");
    background-repeat: no-repeat;
    background-size:  5000px;
    }
  

  </style>
</html>
