 <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Elite Colleges</title>
	<!-- bootstrap cdn -->
    <link rel="icon" type="image/png" href="/images/logo2.png">

		<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
	<!-- font awesome cdn -->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<!-- style.css -->
	<!--<link rel="stylesheet" type="text/css" href="style.css"/>-->
	<!-- jquery cdn -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



</head>

<style>
	
	*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;

}

header{
  background:#35424a;
  color:#ffffff;
  padding-top:10px;
  padding-bottom: 10px;
  min-height:50px;
  border-bottom:#e8491d 3px solid;
  width: 100%;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h2{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#e8491d;
  font-weight:bold;
}

footer{
  padding:10px;
  margin-top:10px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
  height: 10%;
}


.container1{
	padding-left:9%;
	padding-right: 30%;
	padding-top:3%;
	width:80%;
}

#hello
{
	font-size: 170%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.jumbotron{
	background-image: url("https://i.pinimg.com/originals/13/fd/9b/13fd9bcafdea0d25b668bae0775a76bd.jpg");
	background-repeat: no-repeat;
	padding: 60px;
	color: white;
}

.services-section{
  background: url(bg.jpg);
  background-size: cover;
  padding-top: 10px;
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
 padding: 20px;
  overflow: hidden;
}
.section-title{
  text-align: center;
  color: #ddd;
  text-transform: uppercase;
  font-size: 35px;
}
.border{
  width: 310px;
  height: 2px;
  background: #82ccdd;
  
  margin: 40px auto;
}
.services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box{
padding-top: 60px;
  max-width: 50%;
 	padding-left: 0px;
 	padding-right: 70px;
  text-align: center;
  color: #ddd;
  cursor: pointer;
  padding-bottom:40px;

}

.service-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #e8491d;
  color: #e8491d;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.service-icon i{
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}
.service-box:hover .service-icon{
  background: #e8491d;
  color: #ddd;
}
.service-title{
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.service-desc{
	text-align: justify;
  font-size: 18px;
}

.jumbotron{
	padding-left: 20px;
	padding-right: 100px;
	padding-top: 10px;
}

.box{
	background-image: url("https://i.ytimg.com/vi/k-zYkvYZa6o/maxresdefault.jpg");
 	
}


.card:hover{
   transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  border-radius: 4px;
}

</style>


<body id="hello">




		 <header>
		      <div class="container">
		        <div id="branding">
		          <h2><span class="highlight">ELITE</span> Consultancy</h2>
		        </div>
		        <nav>
		          <ul>
		            <li class="current"><a href="/colleges">Home</a></li>
		            <li><a href="about.html">About</a></li>
		            <li><a href="services.html">Services</a></li>

		          </ul>
		        </nav>
		      </div>
		   </header>

		 <!--<header>
		      <div class="container">
		        <div id="branding">
		          <h2><span class="highlight">ELITE</span> Consultancy</h2>
		        </div>
		        <nav>
		          <ul>
		            <li class="current"><a href="index.html">Home</a></li>
		            <li><a href="about.html">About</a></li>
		            <li><a href="services.html">Services</a></li>

		          </ul>
		        </nav>
		      </div>
		   </header>-->

		    <!--<div class="jumbotron">
			  <h2 class="display-4"><center><font color="white">MBBS IN RUSSIA</font></center></h2>
			</div>-->

		<!--<div class="container">
			  <div id="myCarousel" class="carousel slide" data-ride="carousel">
			     Indicators 
			    <ol class="carousel-indicators">
			      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			      <li data-target="#myCarousel" data-slide-to="1"></li>
			      <li data-target="#myCarousel" data-slide-to="2"></li>
			    </ol>

			   
			    <div class="carousel-inner">

			      <div class="item active">
			        <img src="https://content.thriveglobal.com/wp-content/uploads/2019/08/studyrussia-min.jpg" alt="Los Angeles" style="width:100%;">
			        <div class="carousel-caption">
			          
			        </div>
			      </div>

			      <div class="item">
			        <img src="https://4.bp.blogspot.com/-4H1SGEj74w8/VpiXKHe-hiI/AAAAAAAABSk/TCtdlJ3xGkg/s1600/Study%2Bin%2BRussia%2Bfrom%2BIndia.jpg" alt="Chicago" style="width:100%;">
			        <div class="carousel-caption">
			          
			        </div>
			      </div>
			    
			      <div class="item">
			        
			        <div class="carousel-caption">
			          <h3>New York</h3>
			          <p>We love the Big Apple!</p>
			        </div>
			      </div> 
			  
			    </div>

			    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
			      <span class="glyphicon glyphicon-chevron-left"></span>
			      <span class="sr-only">Previous</span>
			    </a>
			    <a class="right carousel-control" href="#myCarousel" data-slide="next">
			      <span class="glyphicon glyphicon-chevron-right"></span>
			      <span class="sr-only">Next</span>
			    </a>
			  </div>

			</div> -->
	<div class="services-section">
      <div class="inner-width">
        <h1 class="section-title"> MBBS IN PHILLIPINES </h1>
        <div class="border"></div>
       <br>

        <div class="services-container">
        	<p class="para"><font color="white">
<font color="#e8491d"><i class="fa fa-check" aria-hidden="true"></i></font> &nbsp; 
Philippines is one the countries known for providing a quality education in medicine like MBBS, MD etc.<br>
<font color="#e8491d"><i class="fa fa-check" aria-hidden="true"></i></font> &nbsp; 
The higher level of practical sessions and experienced teaching staff in Medical colleges of Philippines has gained significant popularity around the world.<br>
<font color="#e8491d"><i class="fa fa-check" aria-hidden="true"></i></font> &nbsp;
The infrastructure of the medical universities, the curriculum and atmosphere in the colleges of Philippines makes it a preferred location of education for international students.<br>
<font color="#e8491d"><i class="fa fa-check" aria-hidden="true"></i></font> &nbsp;
The medical universities are approved by the Medical Council of India(MCI) and WHO. <br>
<font color="#e8491d"><i class="fa fa-check" aria-hidden="true"></i></font>&nbsp; 
The medium of teaching is English which breaks the major barrier of communication for international students. <br>
<font color="#e8491d"><i class="fa fa-check" aria-hidden="true"></i></font> &nbsp; 
The students are given hands on training and practical clinical rounds which helps in their overall growth as a doctor.<br>
        	</font></p>

        	<br>
        	<br>
        	<br>
        	
        	<br>
        	<br>
        	<br>
          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-external-link-alt"></i>
            </div>
            <br>
            <br>
            <div class="service-title">ELIGIBILITY CRITERIA</div>
            <br>

            <div class="service-desc">
             <p>
				<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i> </font>&nbsp;<font color="#e8491d"></font> 
				A minimum aggregate of 50% marks in Physics, Chemistry, and Biology. <br> <br>
				<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i> </font>&nbsp;
				The student must have passed all subjects and English is a compulsory subject in grade 12 or higher secondary <br> <br>
				<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i> </font>&nbsp;
				For students belonging to SC/ST or OBC- A minimum aggregate of 40% marks in Physics, Chemistry, and Biology.  <br> <br>
				<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i> </font>&nbsp; 
				All students have to qualify NEET to be eligible to appear for the screening/licensing exam.

<br> <br>
				

				</p>
            </div>
          </div>
          <br>
        	<br>
        	<br>
          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-hand-holding-usd"></i>
            </div>
            <br>
            <br>
            <div class="service-title"> FEE STRUCTURE</div>
            <br>
      
            <div class="service-desc">
              <font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i></font> &nbsp; The cost of living in philipines would approximate to Rs12,000 to 15,000 per month<br> <br>
				<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i></font> &nbsp; 
			The fee structure for MBBS universities in Russia vary between the range of 2.5 to 6 lakhs per year <br> <br>
			<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i> </font>&nbsp; 
			The approximate course duration (BS+MD) will be 6 years <br> <br>
			<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i></font> &nbsp;  It is much affordable to study MBBS in Philippines rather than in various other countries that offer high quality education<br> <br>
            </div>
          </div>
          	<br>
        	<br>
        	<br>
          <!--<div class="service-box">
            <div class="service-icon">
              <i class="fas fa-landmark"></i>
            </div>
            <br>
            <br>
            <div class="service-title">TOP COLLEGES</div>
            <div class="service-desc">
            	<br>
            <p> 

            	<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i></font> I. M. Sechenov First Moscow State Medical University <br> <br>
            	<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i></font> Tver State Medical University<br> <br>
            	<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i></font> Orenburg State Medical University<br> <br>
            	<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i></font> Perm State Medical University<br> <br>
            	<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i></font> Mari State University<br> <br>
             </p>
            </div>
          </div>-->
      </div>

      </div>
    </div>

<div class="box">
	<div class="container">
  <h3><center><font color="white">FEATURED COLLEGES</center></h3>
  <br>
  &nbsp; &nbsp; &nbsp; &nbsp; 
<div class="row">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/img/davao.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h3 class="card-title"> <font color="black">DAVAO MEDICAL SCHOOL , PHILIPPINES</font></h3>
      <!--<p class="card-text"><font color="white">Some example text some example text. John Doe is an architect and engineer</font></p>-->
      <a href="/davao" class="btn btn-secondary"> VIEW DETAILS</a>
    </div>
  </div>

&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; 


  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/img/ourlady.jpg" alt="Card image" style="width:100%; height: 300px;">
    <div class="card-body">
      <h3 class="card-title"> <font color="black">OUR LADY STATE MEDICAL UNIVERSITY , PHILIPPINES</font></h3>
      <a href="/ourlady" class="btn btn-secondary"> VIEW DETAILS</a>
    </div>
  </div>
   </div>
</div>
</div>

  	<!--
			  
			  <p> Russian medical universities offer quality education and that too at low cost.
Hostel facility and food quality of Russian universities is very good.
Students who fit in the scholarship criteria can apply for scholarship at Russian universities.
Medical insurance is provided to all medical students in Russia and they get medical treatment whenever they need it.Almost all the medical universities in Russia are WHO and MCI approved and hence, MBBS degree from Russia is valid all over the world.Fees for studying MBBS in Russia are very low compared to other countries in the world.
</p>
<hr color="red">

<h3> ELIGIBILITY CRITERIA </h3>
<br>	
<p>
<i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp;Nationality: Indian <br>
<i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp;Student must be 17 years old and above. <br>
<i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp;Students should have passed 10+2 (Physics, Chemistry, Biology & English) from any recognized Board of India or abroad. <br>
<i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp;Minimum 50% aggregate of PCB combined. <br>
<i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp;NEET (National eligibility cum entrance test) is mandatory. <br>

	</p>
	<hr>
	<h3> FEE STRUCTURE </h3><br>
	<i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp;Total fees for MBBS in Russia are very low compared to other countries in the world.<br>
	<i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp; 
The fee structure for MBBS universities in Russia vary between the range of 15-40 lacks for the complete course. <br>
<i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp; ‘B’ grade medical colleges have fees between 15-20 lacks . <br>
<i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp; ‘A’ grade colleges have fees between 30-40 lacks for the entire course duration.<br>

<hr> -->

<!--
			<h3> TOP MEDICAL UNIVERSITIES </h3>

			</div>
			<div class="container1">
			<table class="table table-hover table-striped">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">MEDICAL UNIVERSITY</th>
			      <th scope="col">CITY</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>I. M. Sechenov First Moscow State Medical University</td>
			      <td>Moskva</td>
			    </tr>
			    <tr>
			      <td>Tver State Medical University</td>
			      <td>Tver</td>
			    </tr>
			    <tr>
			       <td>Orenburg State Medical University</td>
			      <td>Orenburg</td>
			    </tr>
			    <tr>
			       <td>Perm State Medical University</td>
			      <td>Ulitsa Kuybysheva,Perm</td>
			    </tr>
			    <tr>
			       <td>Mari State University</td>
			      <td>Mari El Republic</td>
			    </tr>
			  </tbody>
			</table>
		</div>


		

	<div class="container">
		<div class="card">
		  <img src="img_avatar.png" alt="Avatar" style="width:70%">
		  <div class="container">
		    <h4><b>John Doe</b></h4> 
		    <p>Architect & Engineer</p> 
		  </div>
		</div>
		<div class="card">
		  <img src="img_avatar.png" alt="Avatar" style="width:70%">
		  <div class="container">
		    <h4><b>John Doe</b></h4> 
		    <p>Architect & Engineer</p> 
		  </div>
		</div>
		<div class="card">
		  <img src="img_avatar.png" alt="Avatar" style="width:70%">
		  <div class="container">
		    <h4><b>John Doe</b></h4> 
		    <p>Architect & Engineer</p> 
		  </div>
		</div>
	</div>
		</div> -->

		



</body>
</html>




