<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Elite Colleges</title>
	<!-- bootstrap cdn -->
    <link rel="icon" type="image/png" href="/images/logo2.png">

		<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
	<!-- font awesome cdn -->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<!-- style.css -->
	<!--<link rel="stylesheet" type="text/css" href="style.css"/>-->
	<!-- jquery cdn -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</head>

<style>


header{
  background:#35424a;
  color:#ffffff;
  padding-top:10px;
  padding-bottom: 10px;
  min-height:50px;
  border-bottom:#e8491d 3px solid;
  width: 100%;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h2{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#e8491d;
  font-weight:bold;
}

.container1{
	padding-left:9%;
	padding-right: 30%;
	padding-top:3%;
	width:80%;
}
.services-section{
  background: url(bg.jpg);
  background-size: cover;
  padding-top: 0px;
}
.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
 padding: 0px;
  overflow: hidden;
}
.section-title{
  text-align: center;
  color: #ddd;
  text-transform: uppercase;
  font-size: 35px;
}
.border{
  width: 310px;
  height: 2px;
  background: #82ccdd;
  
  margin: 40px auto;
}
.services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box{
	padding-top: 10px;
  max-width: 33.33%;
  padding-left: 30px;
  text-align: center;
  color: #ddd;
  cursor: pointer;
}

.service-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #e8491d;
  color: #e8491d;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.service-icon i{
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}
.service-box:hover .service-icon{
  background: #e8491d;
  color: #ddd;
}
.service-title{
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.service-desc{
	text-align: justify;
  font-size: 18px;
}

@media screen and (max-width:960px) {
  .service-box{
    max-width: 45%;
  }
}

@media screen and (max-width:768px) {
  .service-box{
    max-width: 50%;
  }
}

@media screen and (max-width:480px) {
  .service-box{
    max-width: 100%;
  }
}

#hello
{
	font-size: 170%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  background: rgba(0,0,0,0.2);
}

.jumbotron{
	padding-left: 20px;
	padding-right: 100px;
	padding-top: 10px;
}

.box{
	background-image: url("https://i.ytimg.com/vi/k-zYkvYZa6o/maxresdefault.jpg");
 	
}


.card:hover{
   transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  border-radius: 4px;
}

.para{
	text-align: justify;
}

.box{
	background-image: url("https://i.ytimg.com/vi/k-zYkvYZa6o/maxresdefault.jpg");
}

.container1{
	padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 210px;
}


</style>


<body id="hello">

		 <header>
		      <div class="container">
		        <div id="branding">
		          <h2><span class="highlight">ELITE</span> Doctors Consultancy</h2>
		        </div>
		        <nav>
		          <ul>
		            <li class="current"><a href="/colleges">Home</a></li>
		            <li><a href="/blog">Blog</a></li>
		            <li><a href="#ukr">Featured colleges</a></li>
		          </ul>
		        </nav>
		      </div>
		   </header>

		    <!--<div class="jumbotron">
			  <h2 class="display-4"><center><font color="white">MBBS IN RUSSIA</font></center></h2>
			</div>-->

		<!--<div class="container">
			  <div id="myCarousel" class="carousel slide" data-ride="carousel">
			     Indicators 
			    <ol class="carousel-indicators">
			      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			      <li data-target="#myCarousel" data-slide-to="1"></li>
			      <li data-target="#myCarousel" data-slide-to="2"></li>
			    </ol>

			   
			    <div class="carousel-inner">

			      <div class="item active">
			        <img src="https://content.thriveglobal.com/wp-content/uploads/2019/08/studyrussia-min.jpg" alt="Los Angeles" style="width:100%;">
			        <div class="carousel-caption">
			          
			        </div>
			      </div>

			      <div class="item">
			        <img src="https://4.bp.blogspot.com/-4H1SGEj74w8/VpiXKHe-hiI/AAAAAAAABSk/TCtdlJ3xGkg/s1600/Study%2Bin%2BRussia%2Bfrom%2BIndia.jpg" alt="Chicago" style="width:100%;">
			        <div class="carousel-caption">
			          
			        </div>
			      </div>
			    
			      <div class="item">
			        
			        <div class="carousel-caption">
			          <h3>New York</h3>
			          <p>We love the Big Apple!</p>
			        </div>
			      </div> 
			  
			    </div>

			    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
			      <span class="glyphicon glyphicon-chevron-left"></span>
			      <span class="sr-only">Previous</span>
			    </a>
			    <a class="right carousel-control" href="#myCarousel" data-slide="next">
			      <span class="glyphicon glyphicon-chevron-right"></span>
			      <span class="sr-only">Next</span>
			    </a>
			  </div>

			</div> -->
	<div class="services-section">
      <div class="inner-width">
        <h1 class="section-title"> MBBS IN UKRAINE </h1>
        <div class="border"></div>
       <br>


        <div class="services-container">
        	<p class="para"><font color="white">
<font color="#e8491d"><i class="fa fa-check" aria-hidden="true"></i></font> &nbsp; Ukraine is gaining a lot of popularity among international students who want to pursue their MBBS from abroad.<br>
<font color="#e8491d"><i class="fa fa-check" aria-hidden="true"></i></font> &nbsp; Ukraine comprises many of world class Government Medical Universities that offer MBBS, MD and other degrees in medicine at a very affordable price.<br>
<font color="#e8491d"><i class="fa fa-check" aria-hidden="true"></i></font> &nbsp; Ukraine has made it very easy for the aspiring student to fulfil their dreams of becoming successful doctors.<br>
<font color="#e8491d"><i class="fa fa-check" aria-hidden="true"></i></font> &nbsp; The students who complete their MBBS or any other medical degree from a medical university of Ukraine are eligible to apply for job in any part of the world.<br>
<font color="#e8491d"><i class="fa fa-check" aria-hidden="true"></i></font>&nbsp; Ukraine Government is very keen on the improvement and development of medical education in the country.<br>
The medical universities get constant help from the Ukraine government for maintaining the standard of education. <br>
<font color="#e8491d"><i class="fa fa-check" aria-hidden="true"></i></font> &nbsp; The medical universities of Ukraine are recognised by WHO, UNESCO, MCI and medical councils of many other counties.
        	</font></p>

              	<hr>
          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-external-link-alt"></i>
            </div>
            <br>
            <br>
            <div class="service-title">ELIGIBILITY CRITERIA</div>
            <br>

            <div class="service-desc">
             <p>
				<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i> </font>&nbsp;<font color="#e8491d">Nationality:</font> Indian <br> <br>
				<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i> </font>&nbsp;The student must be above the age of 17 years and below the age of 25 years on 31st December of the year of admission to the MBBS course <br> <br>
				<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i> </font>&nbsp; To get the Eligibility certificate a candidate must pass 10+2 or equivalent class (biology, physics, and chemistry with minimum 50% marks) from a recognized college.<br> <br>
				<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i> </font>&nbsp;Graduation in Medical and one-year internship from recognized college/university/institution by the Government of Ukraine. <br> <br>
				<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i></font>&nbsp;NEET(National eligibility cum entrance test) is mandatory. <br>

				</p>
            </div>
          </div>
          <br>
        	<br>
        	<br>
          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-hand-holding-usd"></i>
            </div>
            <br>
            <br>
            <div class="service-title"> FEE STRUCTURE</div>
            <br>
      
            <div class="service-desc">
              <font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i></font> &nbsp;Total fees for MBBS in Ukraine are very low compared to other countries in the world.<br> <br>
				<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i></font> &nbsp; 
			The fee structure for MBBS universities in Ukraine vary between the range of $ 4,500 USD/Year for the complete course. <br> <br>
			<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i> </font>&nbsp; The admission to the private medical colleges would be only for top 2-3% of the NEET 2020 takers.<br> <br>
			<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i></font> &nbsp; All the universities in Ukraine are imparting higher education in English-medium and have a reasonable fee structure. <br> <br>
            </div>
          </div>
          	<br>
        	<br>
        	<br>
          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-landmark"></i>
            </div>
            <br>
            <br>
            <div class="service-title">TOP COLLEGES</div>
            <div class="service-desc">
            <br>
            <p> 

            	<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i></font>  Bogomolets National Medical University<br> <br>
            	<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i></font>  Bukovinian State Medical University<br> <br>
            	<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i></font>Danylo Halytsky Lviv State Medical University<br> <br>
            	<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i></font> Dnipropetrovsk State Medical Academy<br> <br>
            	<font color="#e8491d"><i class="fa fa-hand-o-right" aria-hidden="true"></i></font>Vinnystia National Pirogov Medical University<br> <br>
             </p>
            </div>
          </div>
      </div>

      </div>
    </div>


<div class="box"  id="ukr">
	<div class="container1">
  <h3><font color="white">

  <center>
	  FEATURED COLLEGES</center></font></font></h3></div>
  <br>
  &nbsp; &nbsp; &nbsp; &nbsp; 

<div class="container">
<div class="row">
  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/img/lviv.jpg"style="width:100%; height: 250px;">
    <div class="card-body">
      <h3 class="card-title"> <font color="white">DANYALO HALYTSKY LVIV NATIONAL MEDICAL UNIVERSITY</font></h3>
      <!--<p class="card-text"><font color="white">Some example text some example text. John Doe is an architect and engineer</font></p>-->
      <a href="/lviv" class="btn btn-secondary"> VIEW DETAILS</a>
    </div>
  </div>

  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;

  <div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/img/bogomolets.jpeg"style="width:100%; height: 250px;">
    <div class="card-body">
      <h3 class="card-title"> <font color="white">O.O BOGOMOLETS NATIONAL
		MEDICAL UNIVERSITY</font></h3>
      <!--<p class="card-text"><font color="white">Some example text some example text. John Doe is an architect and engineer</font></p>-->
      <a href="/bogomolets" class="btn btn-secondary"> VIEW DETAILS</a>
    </div>
  </div>

</div>

<br>
<br>
<br>
<div class="row">
	<div class="card" style="width:400px">
		<img class="card-img-top" src="./assets/img/vinmain.jpeg"style="width:100%; height: 250px;">
		<div class="card-body">
		  <h3 class="card-title"> <font color="white">VINNYTSIA NATIONAL  PIROGOV
			MEDICAL UNIVERSITY</font></h3>
		  <!--<p class="card-text"><font color="white">Some example text some example text. John Doe is an architect and engineer</font></p>-->
		  <a href="/vinnytsia" class="btn btn-secondary"> VIEW DETAILS</a>
		</div>
	  </div>
	
	  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
	  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;

	  <div class="card" style="width:400px">
		<img class="card-img-top" src="./assets/img/lvivvet.jpeg"style="width:100%; height: 250px;">
		<div class="card-body">
		  <h3 class="card-title"> <font color="white">LVIV NATIONAL STEPAN GZHYTSKY
			UNIVERSITY OF VETERINARY MEDICINE
			AND BIOTECHNOLOGY</font></h3>
		  <!--<p class="card-text"><font color="white">Some example text some example text. John Doe is an architect and engineer</font></p>-->
		  <a href="/lvivvet" class="btn btn-secondary"> VIEW DETAILS</a>
		</div>
	  </div>

</div>
</div>
</div>

  <!--<div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/img/volgograd.jpg" alt="Card image" style="width:100%; height: 250px;"><br>
    <div class="card-body">
      <h3 class="card-title"><font color="black">VOLGOGRAD STATE MEDICAL UNIVERSITY,RUSSIA</font></h3>
      <a href="volgograd.html" class="btn btn-secondary"> VIEW DETAILS</a>
    </div>
  </div>

   </div>
   <br>
   <br>
   <div class="row">
   	<div class="card" style="width:400px">
    <img class="card-img-top" src="./assets/img/stavropol.jpg" alt="Card image" style="width:100%; height: 250px;"><br>
    <div class="card-body">
      <h3 class="card-title"><font color="black">STAVROPOL STATE MEDICAL UNIVERSITY</font></h3>
      <a href="stavropolclg.html" class="btn btn-secondary"> VIEW DETAILS</a>
    </div>
  </div>


&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; 

  <div class="card" style="width:400px">
    <img class="card-img-top" src="https://nvvfoundation.com/assets/img/banner-our-lady-of-fatima-university.jpg" alt="Card image" style="width:100%; height: 250px;"><br>
    <div class="card-body">
      <h3 class="card-title"><font color="black">OUR LADY STATE MEDICAL UNIVERSITY , PHILIPPINES</font></h3>
      <a href="ladycollege.html" class="btn btn-secondary"> VIEW DETAILS</a>
    </div>
  </div>

</div>
   </div>
</div>-->

			 
			<!--  <h2>STUDY IN RUSSIA - COURSES, FEE , COLLEGES </h2>
			  <hr>
			  <p> Russian medical universities offer quality education and that too at low cost.
Hostel facility and food quality of Russian universities is very good.
Students who fit in the scholarship criteria can apply for scholarship at Russian universities.
Medical insurance is provided to all medical students in Russia and they get medical treatment whenever they need it.Almost all the medical universities in Russia are WHO and MCI approved and hence, MBBS degree from Russia is valid all over the world.Fees for studying MBBS in Russia are very low compared to other countries in the world.
</p>
<hr color="red">

<h3> ELIGIBILITY CRITERIA </h3>
<br>	
<p>
<i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp;Nationality: Indian <br>
<i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp;Student must be 17 years old and above. <br>
<i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp;Students should have passed 10+2 (Physics, Chemistry, Biology & English) from any recognized Board of India or abroad. <br>
<i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp;Minimum 50% aggregate of PCB combined. <br>
<i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp;NEET (National eligibility cum entrance test) is mandatory. <br>

	</p>
	<hr>
	<h3> FEE STRUCTURE </h3><br>
	<i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp;Total fees for MBBS in Russia are very low compared to other countries in the world.<br>
	<i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp; 
The fee structure for MBBS universities in Russia vary between the range of 15-40 lacks for the complete course. <br>
<i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp; ‘B’ grade medical colleges have fees between 15-20 lacks . <br>
<i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp; ‘A’ grade colleges have fees between 30-40 lacks for the entire course duration.<br>

<hr> -->

<!--
			<h3> TOP MEDICAL UNIVERSITIES </h3>

			</div>
			<div class="container1">
			<table class="table table-hover table-striped">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">MEDICAL UNIVERSITY</th>
			      <th scope="col">CITY</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>I. M. Sechenov First Moscow State Medical University</td>
			      <td>Moskva</td>
			    </tr>
			    <tr>
			      <td>Tver State Medical University</td>
			      <td>Tver</td>
			    </tr>
			    <tr>
			       <td>Orenburg State Medical University</td>
			      <td>Orenburg</td>
			    </tr>
			    <tr>
			       <td>Perm State Medical University</td>
			      <td>Ulitsa Kuybysheva,Perm</td>
			    </tr>
			    <tr>
			       <td>Mari State University</td>
			      <td>Mari El Republic</td>
			    </tr>
			  </tbody>
			</table>
		</div>


		

	<div class="container">
		<div class="card">
		  <img src="img_avatar.png" alt="Avatar" style="width:70%">
		  <div class="container">
		    <h4><b>John Doe</b></h4> 
		    <p>Architect & Engineer</p> 
		  </div>
		</div>
		<div class="card">
		  <img src="img_avatar.png" alt="Avatar" style="width:70%">
		  <div class="container">
		    <h4><b>John Doe</b></h4> 
		    <p>Architect & Engineer</p> 
		  </div>
		</div>
		<div class="card">
		  <img src="img_avatar.png" alt="Avatar" style="width:70%">
		  <div class="container">
		    <h4><b>John Doe</b></h4> 
		    <p>Architect & Engineer</p> 
		  </div>
		</div>
	</div>
		</div> -->

		



</body>
</html>