<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elite Colleges</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="/images/logo2.png">

 <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <style>
    
        *{
            margin: 0;
            padding: 0;
        }
.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative;
}
.timeline__content-title {
  font-weight: normal;
  font-size: 50px;
  margin: -10px 0 0 0;
  transition: 0.4s;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  color: black;

}
.timeline__content-desc {
  margin: 0;
  font-size: 20px;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  font-color: white;
  line-height: 25px;
  text-align: justify;
}
.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, .07);
}
@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 40px;
  }
}
.timeline-item {
  padding: 40px 0;
  opacity: 0.3;
  filter: blur(2px);
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
}
.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, .5);
  font-size: 13px;
  font-family: 'Pathway Gothic One', sans-serif;
  border-left: 2px solid rgba(255, 255, 255, .5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
}
.timeline-item:nth-child(even) {
  align-self: flex-end;
}
.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, .5);
  padding-right: 15px;
}
.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}
.timeline-item--active:before {
  top: 50%;
  transition: 0.3s all 0.2s;
  opacity: 1;
}
.timeline-item--active .timeline__content-title {
  margin: -50px 0 20px 0;
}
@media only screen and (max-width: 767px) {
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}
.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
}
.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: 0.3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}
.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
 background: rgba(0,0,0,0.6);
  content: "";
}
.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.timeline-header__title {
  color: #fff;
  font-size: 58px;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  margin: 0;
}
.timeline-header__subtitle {
  color: rgba(255, 255, 255, .5);
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}
.demo-footer {
  padding: 60px 0;
  text-align: center;
}
.demo-footer a {
  color: #999;
  display: inline-block;
  font-family: Cardo;
}

    </style>
</head>
<body>
     <div class="timeline-container" id="timeline-1">
  <div class="timeline-header">
    <h2 class="timeline-header__title">VOLGOGRAD STATE MEDICAL UNIVERSITY</h2>
    <h3 class="timeline-header__subtitle">VIEW DETAILS</h3>
  </div>
  <div class="timeline">
    <div class="timeline-item" data-text="FEATURES">
      <div class="timeline__content"><img class="timeline__img" 
        src="./assets/img/volgograd/volgo1.jpg" />
        <!--<h2 class="timeline__content-title">
          
        </h2>-->
        <p class="timeline__content-desc"><font color="white">The Volgograd State Medical University ,  Russia  founded in 1935 and started as Stalingrad Medical Institute. In 1993 it got the status of the Academy, and in 2003 it was granted the status of the University.</font></p>
      </div>
    </div>
    <div class="timeline-item" data-text="FACILITIES">
      <div class="timeline__content"><img class="timeline__img" src="./assets/img/volgograd/volgo2.jpg"/>
        <h2 class="timeline__content-title">.</h2>
        <p class="timeline__content-desc"><font color="white">Volgograd State Medical University has built up relationships and ties with numerous foreign universities. Volgograd medical University has also been collaborating with the World Federation for Medical Education, World Health Organisation (WHO), UNESCO, British Council, United States Agency for International Development.</font></p>
      </div>
    </div>
    <div class="timeline-item" data-text="INFRASTRUCTURE">
      <div class="timeline__content"><img class="timeline__img" src="./assets/img/volgograd/volgo3.jpg"/>
        <h2 class="timeline__content-title">.</h2>
        <p class="timeline__content-desc"><font color="white">About 10000 citizens of Russia and countries of the former Soviet Union and 900 international students from India and 70 other foreign countries attend the University. About 70 overseas doctors are engaged in postgraduate study at the University every year.</font></p>
      </div>
    </div>
    <div class="timeline-item" data-text="">
      <div class="timeline__content"><img class="timeline__img" src="./assets/img/volgograd/volgo4.jpg"/>
        <h2 class="timeline__content-title">.</h2>
        <p class="timeline__content-desc"><font color="white">The university is known to have a quality education and low fee structure. Tuition fee for MBBS in volgograd state medical university is 5900 US$ per year (english medium) and 3500 US$ for Russian Medium.</font></p>
      </div>
    </div>
     <div class="timeline-item" data-text="">
      <div class="timeline__content"><img class="timeline__img" src="./assets/img/volgograd/volgo5.jpg"/>
        <h2 class="timeline__content-title">.</h2>
        <p class="timeline__content-desc"><font color="white"> Post graduate courses are of duration three years.After completion of the undergraduate program students are awarded MD degree, which is equivalent to MBBS awarded by the Indian colleges.</font></p>
      </div>
    </div>
     <div class="timeline-item" data-text="">
      <div class="timeline__content"><img class="timeline__img" src="./assets/img/volgograd/volgo5.jpg"/>
        <h2 class="timeline__content-title">.</h2>
        <p class="timeline__content-desc"><font color="white">The teaching staff of the University numbers 763 highly qualified professors and instructors with 11 academicians, 96 professors and 401 associate professors among them.</font></p>
      </div>
    </div>
    <div class="timeline-item" data-text="">
      <div class="timeline__content"><img class="timeline__img" src="./assets/img/spotlight.jpg"/>
        <h2 class="timeline__content-title"><font color="white"><i class="fa fa-video-camera" aria-hidden="true"></i></font></h2>
        <p class="timeline__content-desc">
          <p><font color="white">WATCH CAMPUS TOUR</font> </p> <br>
           <iframe width="500" height="350" src="https://www.youtube.com/embed/CtbbUvU_46w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
      </div>
    </div>
   
    <div class="timeline-item" data-text="VIEW LOCATION">
      <div class="timeline__content"><img class="timeline__img" src="./assets/img/world.jpg">
        <h2 class="timeline__content-title"><font color="white"><i class="fa fa-map-marker" aria-hidden="true"></i></font></h2>
        <p class="timeline__content-desc">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2636.324739883321!2d44.420690315193134!3d48.641902523879956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41052d9f0d97618f%3A0x11a1a6099a60a532!2sVolgograd%20State%20University!5e0!3m2!1sen!2sin!4v1588872065923!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

        </p>
      </div>
    </div>

  

    <!--<div class="timeline-item" data-text="NEW TIMELINE DESIGN">
      <div class="timeline__content"><img class="timeline__img" src="kk.jpg"/>
        <h2 class="timeline__content-title">9</h2>
        <p class="timeline__content-desc">At the end of August 1922, the Turkish armieswon their ultimate victory. Within a few weeks, the Turkish mainland was completelyliberated, the armistice signed, and the rule of the Ottoman dynasty abolished</p>
      </div>
    </div>-->
  
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
 <script>
    
    (function($) {
  $.fn.timeline = function() {
    var selectors = {
      id: $(this),
      item: $(this).find(".timeline-item"),
      activeClass: "timeline-item--active",
      img: ".timeline__img"
    };
    selectors.item.eq(0).addClass(selectors.activeClass);
    selectors.id.css(
      "background-image",
      "url(" +
        selectors.item
          .first()
          .find(selectors.img)
          .attr("src") +
        ")"
    );
    var itemLength = selectors.item.length;
    $(window).scroll(function() {
      var max, min;
      var pos = $(this).scrollTop();
      selectors.item.each(function(i) {
        min = $(this).offset().top;
        max = $(this).height() + $(this).offset().top;
        var that = $(this);
        if (i == itemLength - 2 && pos > min + $(this).height() / 2) {
          selectors.item.removeClass(selectors.activeClass);
          selectors.id.css(
            "background-image",
            "url(" +
              selectors.item
                .last()
                .find(selectors.img)
                .attr("src") +
              ")"
          );
          selectors.item.last().addClass(selectors.activeClass);
        } else if (pos <= max - 40 && pos >= min) {
          selectors.id.css(
            "background-image",
            "url(" +
              $(this)
                .find(selectors.img)
                .attr("src") +
              ")"
          );
          selectors.item.removeClass(selectors.activeClass);
          $(this).addClass(selectors.activeClass);
        }
      });
    });
  };
})(jQuery);

$("#timeline-1").timeline();

    </script>
</body>
</html>