<!DOCTYPE html>
<html>
<head>
	<title>Website Development Team</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="">

</head>
<style>
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

body{
  margin:0;
  padding:0;
}

*{
  box-sizing: border-box;
}

.container{
  max-width:1140px;
  margin:auto;
  position: relative;
  min-height: 1px;
}

.team{
  min-height: 100vh;
  padding:60px 15px;
  background-color:#22252a; 
  float: left;
  width: 100%;
}
.team h1{
  font-size: 36px;
  font-family: open sans;
  font-weight: 700;
  color:#ffffff;
  margin:0;
  padding-bottom:60px;
  text-align: center;
}
.team h3{
  font-size: 28px;
  font-family: open sans;
  font-weight: 700;
  color:#ffffff;
  margin:0;
  padding-bottom:60px;
  text-align: center;
}

.team span{
  color: red;
}

.team .card{
  width:20%;
  float: left;
  padding:0px 6px;
}
.team .card .box {
  padding:15px;
  background-color: #2d3035;
  border-radius:5px;
  transition: margin 1s ease,box-shadow 1s ease;
}
.team .card .box:hover{
  margin-top:-15px;
  box-shadow:0px 0px 40px black;
}
.team .card .box img{
  width:100px;
  display: block;
  margin:10px auto;
  border-radius:50%;

}

.team .card .box h4{
  font-size: 20px;
  font-family: open sans;
  margin:20px 0px 10px;
  color:#ea5e71;
  text-align: center;
  font-weight: 700;
}

.team .card .box h5{
  font-size:16px;
  font-family: open sans;
  font-weight: 600;
  color:#d4d4d4;
  margin:0px 0px 15px;
  text-align: center;
}
.team .card .box p{
  color:white;
  font-size: 15px;
  font-family: open sans;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding:0px 20px;
}

.team .card .box a{
  color:white;
  font-size: 15px;
  font-family: open sans;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding:0px 20px;
}



/*responsive*/

@media(max-width: 991px){
  .team .card{
    width:50%;
    margin-bottom:30px;
  }
}

@media(max-width:550px){
  .team .card{
    width:100%;
  }
}

</style>
<body>

  <section class="team">
  	 <div class="container">
  	 	  <h1>MEET OUR DEVELOPMENT TEAM</h1>
        <h3> <span id="hello">T</span>ogether <span  id="hello">E</span>veryone <span id="hello">A</span>chieves <span id="hello">M</span>ore </h3>
  	 	
  	 	  <div class="card">
  	 	  	  <div class="box">
  	 	  	  	  <img src="/main.jpg" alt="team img" />
  	 	  	  	  <h4>Aathithya Sriram Ganesh</h4>
                <br>
  	 	  	  	  <h5>CONNECT AT</h5>
                 <p><a href="https://www.linkedin.com/in/aathithya-sriram-ganesh-10971b199/" target="_blank">Linked-In</a></p>
                <p><a href="https://github.com/aathi260" target="_blank">GitHub</a></p>  
  	 	  	  </div>
             </div>
             <div class="card">
                <div class="box">
                      <img src="/main.jpg" alt="team img" />
                      <h4>Antony Prince J</h4>
             <br>
             <br>
                      <h5>CONNECT AT</h5>
                      <p><a href="https://www.linkedin.com/in/antoprince001/" target="_blank">Linked-In</a></p>
             <p><a href="https://github.com/CodeDecoder01" target="_blank">GitHub</a></p>
                </div>
          </div>
  	 	  <div class="card">
  	 	  	  <div class="box">
  	 	  	  	  <img src="/main.jpg" alt="team img" />
  	 	  	  	  <h4>Harish G</h4>
                <br>
                <br>
  	 	  	  	  <h5>CONNECT AT</h5>
  	 	  	  	   <p><a href="https://www.linkedin.com/in/harish-g-64677713b/" target="_blank">Linked-In</a></p>
                <p><a href="https://github.com/harish24g" target="_blank">GitHub</a></p>
  	 	  	  </div>
  	 	  </div>
  	 	  <div class="card">
  	 	  	  <div class="box">
  	 	  	  	  <img src="/main.jpg" alt="team img" />
  	 	  	  	  <h4>Hemapriya N</h4>
                <br>
                <br>
  	 	  	  	  <h5>CONNECT AT</h5>
  	 	  	  	 <p><a href="https://www.linkedin.com/in/hemapriya-n-838251199/" target="_blank">Linked-In</a></p>
                <p><a href="https://github.com/Nhemapriya" target="_blank">GitHub</a></p>
  	 	  	  </div>
  	 	  </div>
         <div class="card">
            <div class="box">
                <img src="/main.jpg" alt="team img" />
                <h4>Jagadhiswaran D</h4>
                <br>
                <br>
                <h5>CONNECT AT</h5>
                <p><a href="https://www.linkedin.com/in/jagadhiswaran-d-26159a1ab/" target="_blank">Linked-In</a></p>
                <p><a href="https://github.com/jagadhis" target="_blank">GitHub</a></p>
            </div>
        </div>
  	 </div>
  </section>

</body>
</html>