body{
  background-image: url(image_6.jpg);
  -webkit-background-size:cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Comic Neue', cursive;
}

.form{
  width: 500px;
  height: 1000px;
  margin: 60px auto;
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;                                 
  padding: 35px;
  border: 3px solid #fff;
  -webkit-border-radius:70px 0 70px 0;
  -moz-border-radius:70px 0 70px 0;
  border-radius: 70px 0 70px 0;
}

.form h1{
  margin-bottom: 45px;
  color: #fff;
}
/* .img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: tomato;
  position: absolute;
  top: -5%;
  left:45%
} */
img{
  width: 100%;
  height: 100%;
  background: cover;
}

input{
  width: 100%;
  height: 50px;
  border-radius: 15px 0 15px 0;
  border: 2px solid #fff;
  margin-bottom: 15px;
  background-color:  transparent;
  color: #fff;
}
input:hover{
  top: 100%;
}
.form p{
  text-align: left;
  color: #fff;
  font-weight: bold;
}
.btn{
  display: inline-block;
  height: 40px;
  width: 150px;
  line-height: 40px;
  overflow: hidden;
  position: relative;
  text-align: center;
  background: tomato;
  border-radius: 25px;
  color:#fff;
  margin-top: 20px;
  cursor: pointer;
  text-decoration: none;
}
.btn-text{
  display: block;
  height: 100%;
  position: relative;
  top: 0;
  -webkit-transitionn:  top 0.6s;
  -moz-transition: top 0.6s;
  -ms-transition:   top 0.6s;
  -o-transition: top 0.6s;
  transition:   top 0.6s;
  width: 100%;
}
.btn:hover{
  top: 100%;
}

.pass{
  text-decoration: none;
  display: block;
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}
